@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');



.container{
  /* background-color: #C1CAD6; */
  font-family: 'Playfair Display', serif;
}
.row
.col
.btn{
  background-color: #775E82;
  border: #ACA2B9;
  color: #fff;
  font-weight: 600;
}
h3{
  font-weight: 800;
}
body{
  background-color: lavender;

}
Button{
  background-color: #775E82;

}
.card{
  margin: 15px;
}

